{{ $filename := (cond (ne (.Get "ref") nil) (.Get "ref") (.Get 0)) }}
{{ $showname := (cond (ne (.Get "title") nil) (.Get "title") (.Get 1)) }}
{{ $isfull := (cond (ne (.Get "isfull") nil) (.Get "isfull") (.Get 2)) }}
{{ $truncate := (cond (ne (.Get "truncate") nil) (.Get "truncate") (.Get 3)) | default 500 }}
{{ $class := (cond (ne (.Get "class") nil) (.Get "class") (.Get 4)) }}

{{ if $truncate = -1 }}
{{ $truncate = 999999 }}
{{ end }}

{{ with $.Site.GetPage $filename }}


<a class="box is-{{ if $class }}{{$class}}{{else}}light{{ end }} is-light" href="{{ .Permalink }}" style="width: 90%; margin-left: auto; margin-right: auto;margin-top: 2em;margin-bottom: 2em;">
    <div class="media-content">
        <div class="content">
            <div class="title is-6" style="padding-bottom: 0.8em;border-bottom: 1px dotted #999;">{{ if $showname }}
                {{ $showname }}
                {{ else }}
                {{ .Title }}
                {{ end }}
                <span style="float: right;"><i class="fa-solid fa-bookmark" style="color: #999;"></i></span>
            </div>
            <div style="font-size: 80%;">
                {{ if (findRE "{{<\\s{1}[c|e]\\s+(.+?)\\s+" .RawContent) }}
                    {{ if .Params.description }}
                    {{ .Params.description | safeHTML | truncate ($truncate) }}
                    {{ else }}
                    {{ .RawContent | replaceRE "{{<.*?>}}" "" | markdownify | safeHTML | truncate ($truncate) }}
                    {{ end }}
                {{ else }}
                    {{ if $isfull}}
                    {{ .Content | safeHTML | truncate ($truncate) }}
                    {{ else if .Params.description }}
                    {{ .Params.description | safeHTML | truncate ($truncate) }}
                    {{ else }}
                    {{ .Summary | safeHTML | truncate ($truncate) }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</a>

{{ end }}