{{ $dbLinks := slice }}
{{ $apparentLinks := .Params.links }}

{{ $content := replace .RawContent (lower (replace .File "\\" "/")) "" }}

{{ with (findRE "{{<\\s{1}e\\s+(.+?)\\s+" $content ) }}
    {{ range . }}
        {{ if not (in $apparentLinks (substr . 7 -2) )}}
            {{ if not (in $dbLinks (substr . 7 -2)) }}
                {{ $dbLinks = $dbLinks | append (substr . 7 -2) }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ with (findRE "{{<\\s{1}c\\s+(.+?)\\s+" $content) }}
    {{ range . }}
        {{ if not (in $apparentLinks (substr . 7 -2) )}}
            {{ if not (in $dbLinks (substr . 7 -2)) }}
                {{ $dbLinks = $dbLinks | append (substr . 7 -2) }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ with $dbLinks }}
<div class="box is-size-7">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><i class="fa-solid fa-arrow-right-from-bracket"></i> Additional Double Backet Links: </strong>
                        <div>
                        {{ range . }}
                            {{ partial "network/linkcard" ($.Site.GetPage .) }}
                        {{ end }}
                        </div>
                </p>
            </div>
        </div>
    </article>
</div>
{{ end }}
