{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css">
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css">


{{ end }}

{{ define "header"}} {{ partial "menu" .}}

<header class="post-header">

    <div class="hero">
        <div class="hero-body">
            <div class="container">
                {{ partial "breadcrumb" . }}
                <div class="container has-text-centered">
                    {{ partial "profile/title" . }}
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}

<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-8">
                    <div class="is-divider" data-content="INTRODUCTION"></div>

                    <div class="content blog-post section" itemprop="articleBody">
                        {{.Content}}
                    </div>

                    {{ if .Params.sections }}
                    <div class="is-divider" data-content="PAGES"></div>
                    {{ partial "list/tree-menu-style" . }}
                    {{ end }}

                </div>
                <div class="column is-4">

                    {{ if .Params.sections }}
                    <div class="is-divider" data-content="NOTES"></div>
                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="buttons">
                                    {{ range $note := .Params.sections }}
                                        {{ $note := $.GetPage (printf "/%s" .) }}
                                        <a href="{{ $note.Permalink }}" class="button is-primary">All {{ $note.Title }} Pages</a>
                                    {{end}}
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}

                    {{ if .Params.author }}
                    <div class="is-divider" data-content="AUTHORS"></div>
                    {{ $author := .Params.author }}
                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    {{ range $author := .Params.author }}
                                    <p>
                                           <a href="{{ $author.link }}" class="button is-info is-bold has-text-weight-bold is-small">Author: {{ $author.name }} </a>
                                        </p>
                                    {{end}}
                                </div>
                            </div>
                        </article>
                    </div>
                    {{end}}

                    {{ if .Params.contributors }}
                    <div class="is-divider" data-content="CONTRIBUTORS"></div>
                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    {{ range $contributor := .Params.contributors }}
                                    <p> <a
                                           href="{{ $contributor.link }}" class="button is-link is-bold has-text-weight-bold is-small">Contributor: {{ $contributor.name }}</a> </p>
                                    {{end}}
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}

                    {{ if .Params.members }}
                    <div class="is-divider" data-content="MEMBERS"></div>

                    <div class="box is-size-7">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    {{ range $member := .Params.members }}

                                    <p><i class="fas fa-user-ninja" style="margin-right: 0.5em;"></i> <a
                                           href="{{ $member.link }}" class="tag is-info is-light is-bold has-text-weight-bold">{{ $member.name }}</a> </p>
                                    {{end}}
                                </div>
                            </div>
                        </article>
                    </div>
                    {{ end }}

                    {{ if .Params.references }}
                    <div class="is-divider" data-content="REFERENCES"></div>
                    <article class="message">
                        <div class="message-header">
                            <p>References:</p>
                        </div>
                        <div class="message-body">
                            <ol>
                                {{ range $ref := .Params.references }}
                                <li>{{ if $ref.key }}
                                    <a name="{{ $ref.key }}" href="#{{ $ref.key }}" style="text-decoration:none;">
                                      <span class="tag is-link is-light">{{$ref.key}}</span>
                                    </a>
                                    {{ end }}<a href="{{ $ref.link }}" style="text-decoration:none;">{{ $ref.name }}</a></li>
                                {{ end }}
                            </ol>
                        </div>
                    </article>
                    {{ end }}

                    {{ if eq $.Site.Params.comments.use "giscus" }}
                        {{ partial "comments/giscus-comments" . }}
                    {{ else if eq $.Site.Params.comments.use "utterances" }}
                        {{ partial "utterances-comments.html" . }}
                    {{ end }}
                </div>

            </div>
        </div>
    </section>
</div>

{{ partial "nav-buttons.html" . }}

{{ end }}

{{ define "footer"}}
{{ partial "footer.html" .}}

{{ partial "extensions/applausebutton.html" . }}

{{ end }}