{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css">
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css">


{{ end }}

{{ define "header"}} {{ partial "menu" .}}

{{ end }}

{{ define "main" }}



<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="section">
        <div class="container">
            <article class="post">

                <header class="post-header">
                    {{ partial "breadcrumb" . }}
                    <h1 class="post-title has-text-centered is-size-1" itemprop="name headline">
                        {{ .Params.Title }}
                    </h1>



                </header>

                <div class="columns">
                    <div class="column is-8">

                        {{ if .Params.summary }}
                        <div class="is-divider" data-content="SUMMARY"></div>
                        <div class="notification is-light">
                            <p>
                                {{ .Params.summary }}
                            </p>
                        </div>
                        {{ end }}

                        <div class="is-divider" data-content="ARTICLE"></div>

                        <div class="content blog-post section" itemprop="articleBody">
                            {{.Content}}
                        </div>

                        <p>{{ partial "post/meta" . }}</p>
                        <!-- {{ partial "post/byauthor" . }} -->




                    </div>
                    <div class="column is-4">
                        {{ partial "toc" .}}



                        <div class="is-divider" data-content="Cite Me"></div>
                        {{ partial "profile/citethis.html"  . }}

                        {{ if .Params.references }}
                        <div class="is-divider" data-content="REFERENCES"></div>
                        <article class="message">
                            <div class="message-header">
                                <p>References:</p>
                            </div>
                            <div class="message-body">
                                <ol>
                                    {{ range $ref := .Params.references }}
                                    <li>{{ if $ref.key }}
                                        <a name="{{ $ref.key }}" href="#{{ $ref.key }}" style="text-decoration:none;">
                                          <span class="tag is-link is-light">{{$ref.key}}</span>
                                        </a>
                                        {{ end }}<a href="{{ $ref.link }}" style="text-decoration:none;">{{ $ref.name }}</a></li>
                                    {{ end }}
                                </ol>
                            </div>
                        </article>
                        {{ end }}
                        {{ if eq $.Site.Params.comments.use "giscus" }}
                            {{ partial "comments/giscus-comments" . }}
                        {{ else if eq $.Site.Params.comments.use "utterances" }}
                            {{ partial "utterances-comments.html" . }}
                        {{ end }}

                    </div>

                </div>
            </article>
        </div>
    </section>
</div>

{{ partial "nav-buttons.html" . }}

{{ end }}

{{ define "footer"}}
{{ partial "footer.html" .}}

{{ partial "extensions/applausebutton.html" . }}
{{ end }}