{{ define "title"}} {{ .Title }} {{ end }}

{{ define "style"}}
<link rel="stylesheet" href="/css/blog-post.css">
<link rel="stylesheet" href="/css/code-highlighting/dark.css">
<link rel="stylesheet" href="/css/custom.css">


{{ partial "extensions/plotlyjs.html" . }}
{{ end }}

{{ define "header"}} {{ partial "menu" .}}
{{ end }}

{{ define "main" }}

<div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <section class="section">
        <div class="container">
            <article class="post">

                <header class="post-header">
                    {{ partial "breadcrumb" . }}
                    <h1 class="post-title has-text-centered is-size-1" itemprop="name headline">
                        {{ .Params.Title }}
                    </h1>
                    <h2 class="title is-6 has-text-centered">
                            <i class="fas fa-tags" style="margin-right: 0.5em;"></i>
                            {{ range $tag := .Params.tags }}
                            <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}"><span class="tag is-warning is-small is-light">#{{$tag}}</span></a>
                            {{ end }}
                    </h2>



                </header>

                <div class="columns">
                    <div class="column is-8">
                        {{ if .Params.notify }}
                        <div class="is-divider" data-content="NOTIFICATION"></div>
                        <div class="notification is-warning is-light">
                            <p>
                                {{ .Params.notify | markdownify }}
                            </p>
                        </div>
                        {{ end }}

                        {{ if .Params.summary }}
                        <div class="is-divider" data-content="SUMMARY"></div>
                        <div class="notification is-light">
                            <p>
                                {{ .Params.summary | markdownify }}
                            </p>
                        </div>
                        {{ end }}

                        <div class="is-divider" data-content="ARTICLE"></div>

                        <div class="content blog-post section" itemprop="articleBody">
                            <!-- {{ partial "toc" .}} -->
                            {{.Content}}
                        </div>

                        <p>{{ partial "post/meta" . }}</p>
                        <div class="is-divider"></div>
                        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                            {{ if .NextInSection }}
                            <a  href="{{ .NextInSection.Permalink }}?ref=footer" class="pagination-previous">« {{ .NextInSection.Title | truncate 50 "..." }}</a>
                            {{ end }}

                            {{ if .PrevInSection }}
                            <a class="pagination-next" href="{{ .PrevInSection.Permalink }}?ref=footer">{{ .PrevInSection.Title | truncate 50 "..."}} »</a>
                            {{ end }}

                          </nav>
                        <!-- {{ partial "post/byauthor" . }} -->

                        <!-- {{ partial "utterances-comments.html" . }} -->


                    </div>
                    <div class="column is-4">





                        <div class="is-divider" data-content="Cite Me"></div>
                        {{ partial "profile/citethis.html"  . }}

                        {{ partial "toc" .}}

                        {{ partial "refererences/card-references" . }}

                        {{ partial "refererences/card-supplementary" . }}

                        <div class="is-divider" data-content="CONNECTUME"></div>
                        {{ $fileReference := lower (replace .File "\\" "/") }}
                        {{ partial "network/currentref" . }}

                        {{ if isset $.Site.Params "nativebacklink" }}
                            {{ if $.Site.Params.nativebacklink }}
                                {{ partial "network/cards-links-from" (dict "context" . "ref" $fileReference) }}
                            {{ else }}
                                {{ partial "network/dynamic-backlink.html" . }}
                            {{ end }}
                        {{ else }}
                            {{ partial "network/dynamic-backlink.html" . }}
                        {{ end }}

                        {{ partial "network/cards-links-to" . }}
                        {{ partial "network/cards-content-double-bracket" . }}

                        {{ if isset $.Site.Params "localgraph" }}
                            {{ if $.Site.Params.localgraph }}
                                {{ partial "network/local-graph-g6" . }}
                            {{ end }}
                        {{ end }}

                        {{ if eq $.Site.Params.comments.use "giscus" }}
                            {{ partial "comments/giscus-comments" . }}
                        {{ else if eq $.Site.Params.comments.use "utterances" }}
                            {{ partial "utterances-comments.html" . }}
                        {{ end }}

                    </div>

                </div>
            </article>
        </div>
    </section>
</div>

{{ partial "nav-buttons.html" . }}

{{ end }}

{{ define "footer"}}
{{ if .Params.charts }}
{{ partial "extensions/plotly.html" . }}
{{ end }}
{{ partial "footer.html" .}}

{{ partial "extensions/applausebutton.html" . }}

{{ end }}